a:hover {
    text-decoration:none;
}

h1 {
    font-family: 'Open Sans', bold;
    color: #bc327c;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 40px;
}
body {
    background-color: #6d6a6a;
}

p {
    color: #b2437f;
    font-family: 'Open Sans', Regular Italic;
    font-size: 24px;
}

p a:hover {
    text-decoration: underline;
    color: #ed225d;
}

p a {
    color:#ed225d;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}
