a:hover {
    text-decoration:none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ed225d;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 40px;
}
body {
    background-color: 204;
}

p {
    color: #fff;
    font-family: 'Open Sans', serif;
    font-size: 24px;
    font-style: italic;
}

p a:hover {
    text-decoration: underline;
    color: #ed225d;
}

p a {
    color:#ed225d;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}
